#cv h2 {
    font-size: 1.2em;
    font-weight: bold;
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #EEE;
    padding: 0.3em 0;
    margin: 0.5em 0 0.3em 0;
}

#cv h3 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0.3em 0;
}

#cv h3 em {
    float: right;
    font-style: normal;
}
